/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
  list-style: none;
  text-decoration: none;
}
/* Variables */
:root {
  --main-color: #2288ff;
  --second-color: #192f6a;
  --text-color: #314862;
  --bg-color: #fff;

  /* Box Shadow */
  --box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);
}
img {
  width: 100%;
}
body {
  color: var(--text-color);
}
section {
  padding: 4.5rem 0 3rem;
}
header {
  display: block;
  width: 100%;
  background: var(--bg-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 35px;
}
.logo {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-color);
  text-transform: uppercase;
}
.logo .bx {
  font-size: 24px;
  color: var(--main-color);
}
.navbar {
  display: flex;
}
.navbar a {
  padding: 8px 17px;
  color: var(--text-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar a:hover {
  color: var(--main-color);
}
#menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
}
#menu {
  display: none;
}
.btn {
  padding: 8px 22px;
  background: var(--main-color);
  color: var(--bg-color);
  border-radius: 5rem;
}
.btn:hover {
  background: #3492fd;
}
/* Nav bar despegable */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: white;
  list-style: none;
  padding: 0.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.footer {
  background: var(--main-color);
  color: var(--bg-color);
  border-radius: 5rem 0 0 0;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 2rem;
}
.footer-container h2 {
  font-size: 1.7rem;
  font-weight: 500;
}
.footer-box {
  display: flex;
  flex-direction: column;
}
.footer-box h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
}
.footer-box a {
  font-size: 0.8rem;
  color: var(--bg-color);
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.footer-box a:hover {
  color: var(--text-color);
}
.social a {
  font-size: 20px;
  margin-right: 1rem;
}
.social a:hover {
  color: var(--second-color);
}
.copyright {
  padding: 20px;
  text-align: center;
  color: var(--bg-color);
  background: var(--main-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 768px) {
  .nav {
    padding: 10px 0;
  }
  #menu-icon {
    display: initial;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: var(--second-color);
    text-align: center;
    clip-path: circle(0% at 100% 1%);
    transition: 0.6s;
  }
  .navbar a {
    display: block;
    margin: 1rem;
    padding: 20px;
    color: var(--bg-color);
  }
  .navbar a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2s;
  }
  #menu:checked ~ .navbar {
    clip-path: circle(144% at 100% 1%);
  }
}

@media (max-width: 880px) {
  section {
    padding: 4rem 0 3rem;
  }
  .footer-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1rem;
  }
  .login {
    grid-template-columns: 0.6fr 1fr;
  }
}
@media (max-width: 442px) {
  .newsletter #email-box {
    width: 140px;
  }
  .footer {
    border-radius: 3rem 0 0 0;
  }
}
