@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
  list-style: none;
  text-decoration: none;
}
:root {
  --white-color:                  #ffffff;
  --primary-color:                #0e6ad3;
  --secondary-color:              #2288ff;
  --section-bg-color:             #f9f9f9;
  --dark-color:                   #000000;
  --p-color:                      #717275;
  --border-color:                 #e9eaeb;
  --featured-border-color:        #0e6ad3;


  --h1-font-size:                 62px;
  --h2-font-size:                 48px;
  --h3-font-size:                 36px;
  --h4-font-size:                 32px;
  --h5-font-size:                 24px;
  --h6-font-size:                 22px;
  --p-font-size:                  18px;
  --menu-font-size:               12px;
  --copyright-font-size:          14px;

  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;

  --font-weight-normal:           400;
  --font-weight-medium:           500;
  --font-weight-bold:             700;
}


/*---------------------------------------
  FEATURED              
-----------------------------------------*/

.featured {
  background-color: #f1f1f1;
}

.featured-numbers {
  font-size: var(--h1-font-size);
  line-height: normal;
  display: block;
  text-align: center;
}

.featured-text {
  color: var(--secondary-color);
  text-align: center;
}

.featured-border-bottom {
  border-bottom: 1px solid gray;
}

.featured-border-start {
  border-left: 1px solid gray;
}

.featured-border-bottom {
  border-bottom: 1px solid gray;
  align-items: center;
}

.featured-border-start {
  border-left: 1px solid gray;
}

.featured-numbers {
  font-weight: bold;
  align-items: center;
}

.featured-text {
    font-size: .9rem;
    color: #6c757d;
    align-items: center;
}

/* Secciones */
.section-padding {
    padding: 100px 0;
}
.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}


.about-thumb,
.services-thumb,
.profile-thumb {
    background-color: #fff;
    padding: 30px;
    border-radius: .5rem;
}

.profile-title h4 {
  font-size: 1.25rem;
}

.profile-small-title {
    display: block;
    font-weight: bold;
}

.profile-thumb {
  border: 1px solid gray;
  border-radius: gray;
  position: relative;
  overflow: hidden;
}

.profile-title {
  border-bottom: 1px solid gray;
  padding: 15px 30px;
}

.profile-small-title {
  border-right: 1px solid gray;
  color: var(--secondary-color);
  font-weight: bold;
  min-width: 140px;
  margin-right: 10px;
  padding: 13px 30px;
  display: inline-block;
  align-items: lefft;
}

.col-lg-6 {
  width: 50%;
  padding-left: 2.5rem;

}

.col-lg-1 {
  width: 50%;
  padding-left: 2.5rem;

}

.col-2 {
  flex: 0 0 auto;
  width: 50%;
}

.mt-5 { margin-top: 3rem !important; }
.mt-lg-0 { margin-top: 0 !important; }
.ps-5 { padding-left: 3rem !important; }
.pt-4 { padding-top: 1.5rem !important; }

.dato-dinamico {
  transition: opacity 0.5s ease-in-out;
}

.opaco {
  opacity: 0;
}

.profile-body p {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-wrap: nowrap;
}

.profile-small-title {
  min-width: 130px;
  white-space: nowrap;
}

.dato-dinamico {
  flex: 1;
  word-break: break-word;
  white-space: normal;
}

/*---------------------------------------
  CLIENTS              
-----------------------------------------*/

.clients-item-height {
	height: 120px;
}

.clients-image {
  display: block;
  max-width: 100px;
  margin: auto;
  transition: all ease 0.2s;
}

.clients-image:hover {
  transform: scale(1.3);
}


.clients-item-height {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients-image {
    max-height: 100%;
    width: auto;
}

@media (max-width: 1080px) {

  .col-2 {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

    .col-lg-1 {
    padding-left: 5%;
    padding-top: 5%;
  }

}

@media screen and (max-width: 768px) {

  .col-2 {
    padding-left: 1rem;
    padding-right: 1rem;
  }  

  .featured-numbers {
    font-size: 32px;
  }

  .col-lg-1 {
    padding-left: 2%;
  }

  .section-padding {
  padding-top: 80px;
  padding-bottom: 80px;
  }

}

@media screen and (max-width: 410px) {

  .col-lg-1 {
    padding-left: 5%;
  }
}

